<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<%= link_to "新規登録" , controller: "tasks" , action: "new" %>

  <table>
    <tr>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
      </tr>
    <% end %>
  </table>